body {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 20px;
}

.genre-card,
.book-card {
    border: 1px solid black;
    cursor: pointer;
}

header {
    margin-top: 30px;
}

a {
    text-decoration: none;
}